{
  "extends": ["prettier", "react-app", "eslint:recommended"],
  "rules": {
    // "no-console": ["error", { "allow": ["error"] }],
    "curly": "error"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  }
}
